body{
    margin: 0;
    overflow-x: hidden;
}

.bg-1 .bg-2, .bg-3{
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
}

.bg-1{
    height: 75vh;
    background-image: linear-gradient(to bottom right, 	#8e3a3a,	#e8dcd2);
}

.bg-2{
    height: 60vh;
    background-position: -15% 35%;
    background-image: url(./images/background-8.png);
}

.bg-3{
    height: 60vh;
    background-position: 100% 20%;
    background-image: url(./images/background-9.png);
}

/*hero section*/

.hero-container{
    display: flex;
    flex-direction: column;
    height: 75vh;
    flex-shrink: 0;
    overflow: hidden;
}

.logo{
    width: 120px;
    height: 120px;
    margin-right: auto;
    margin-left: 50px;
}

.header{
    display: flex;
    flex-shrink: 1;
    align-items: center;
}

.links-for-header{
    display: flex;
    list-style: none;
    gap: 15px;
    margin-left: auto;
    margin-right: 50px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 20%;
}

.hero-text h1{
    text-align: left;
    font-family: 'Laila', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}

.hero-text p{
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 1;
}

.hero-text button{
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    width: 180px;
    margin-top: 0;
    border-radius: 15px;
    background-color: #2d262e;
    color: white;
    border-color: #2d262e;
}

.hero-text{
    margin: 50px;
    width: 500px;
    margin-left: auto;
    padding-top: 0;
}

.hero-picture img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 15px;
    border: 5px solid black;
}

.hero-picture{
    width: 500px;
    height: 300px;
    margin-right: auto;
    padding-top: 0;
}

/*info section*/

.information-container{
    display: flex;
    height: 60vh;
    justify-content: flex-start;
    align-items: center;
    margin-left: 105px;
}

.meet{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Laila', sans-serif;
    margin-top: 0;
}

.noya-icon{
    width: 200px;
    height: 200px;
}

.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.noya-content-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.noya-content-container p{
    width: 200px;
    text-align: center;
}

.noya-content-container img{
    border: 2px solid black;
}

/*quote section*/
.quote-container{
    display: flex;
    flex-direction: column;
    height: 60vh;
    flex-shrink: 0;
    overflow: hidden;
}